  .edit-buttons {
    position: fixed;
    right: 9em;
    z-index:1050;
    top: 2%;
  }
  input:disabled {
    cursor: not-allowed;
  }

  .read-only-content {
    padding: 50px 100px;
    width: 100%;
    box-shadow: 0px 2px 5px -2px #999;
    background-color: #fff;
  }

  .edit-title {
    position: fixed;
    width: 400px;
    top: 0.5em;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1030;
  }

  .return.btn-link {
    cursor: pointer;
  }

  .edit-title .form-control {
    font-size: 2em;
    text-align: center;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }

  .edit-title .form-control:disabled {
    background-color: #ffffff;
    border-bottom: 0px;
  }

  #error {
    opacity: 1;
  }

  #error div {
    background-color:red;    
  }

  .dark-input:disabled {
    background-color: #36393E;
  }

  /*
   * Dark Theme Editor
   */
  .dark-editor .cke_chrome {
    border: 0;
  }

  .dark-editor .cke_top {
    background-color: #36393E;
    border-bottom: 0;
  }

  .dark-editor .cke_button_icon.cke_button__cut_icon {
    background: url(../icons.png) no-repeat 0 -264px !important;
  }

  .dark-editor .cke_button_icon.cke_button__copy_icon {
  background: url(../icons.png) no-repeat 0 -216px !important;
  }

  .dark-editor .cke_button_icon.cke_button__paste_icon {
  background: url(../icons.png) no-repeat 0 -312px !important;
  }

  .dark-editor .cke_button_icon.cke_button__pastetext_icon {
  background: url(../icons.png) no-repeat 0 -720px !important;
  }

  .dark-editor .cke_button_icon.cke_button__pastefromword_icon {
  background: url(../icons.png) no-repeat 0 -768px !important;
  }

  .dark-editor .cke_button_icon.cke_button__undo_icon {
  background: url(../icons.png) no-repeat 0 -1008px !important;
  }

  .dark-editor .cke_button_icon.cke_button__redo_icon {
  background: url(../icons.png) no-repeat 0 -960px !important;
  }

  .dark-editor .cke_button__scayt_icon {
  background: url(../icons.png) no-repeat 0 -888px !important;
  }

  .dark-editor .cke_button_arrow {
    border-top-color: #fff;
  }

  .dark-editor .cke_button_icon.cke_button__link_icon {
  background: url(../icons.png) no-repeat 0 -528px !important;
  }

  .dark-editor .cke_button_icon.cke_button__unlink_icon {
  background: url(../icons.png) no-repeat 0 -552px !important;
  }

  .dark-editor .cke_button_icon.cke_button__anchor_icon {
  background: url(../icons.png) no-repeat 0 -504px !important;
  }

  .dark-editor .cke_button_icon.cke_button__image_icon {
  background: url(../icons.png) no-repeat 0 -360px !important;
  }

  .dark-editor .cke_button_icon.cke_button__table_icon {
  background: url(../icons.png) no-repeat 0 -912px !important;
  }

  .dark-editor .cke_button_icon.cke_button__horizontalrule_icon {
  background: url(../icons.png) no-repeat 0 -336px !important;
  }

  .dark-editor .cke_button_icon.cke_button__specialchar_icon {
  background: url(../icons.png) no-repeat 0 -864px !important;
  }

  .dark-editor .cke_button_icon.cke_button__maximize_icon {
  background: url(../icons.png) no-repeat 0 -672px !important;
  }

  .dark-editor .cke_button_icon.cke_button__source_icon {
  background: url(../icons.png) no-repeat 0 -840px !important;
  }

  .dark-editor .cke_button_label {
    color: #fff;
  }

  .dark-editor .cke_button_icon.cke_button__bold_icon {
    background: url(../icons.png) no-repeat 0 -24px !important;
  }

  .dark-editor .cke_button_icon.cke_button__italic_icon {
    background: url(../icons.png) no-repeat 0 -48px !important;
  }

  .dark-editor .cke_button_icon.cke_button__strike_icon {
    background: url(../icons.png) no-repeat 0 -72px !important;
  }

  .dark-editor .cke_button_icon.cke_button__removeformat_icon {
    background: url(../icons.png) no-repeat 0 -792px !important;
  }

  .dark-editor .cke_button_icon.cke_button__numberedlist_icon {
    background: url(../icons.png) no-repeat 0 -648px !important;
  }

  .dark-editor .cke_button_icon.cke_button__bulletedlist_icon {
    background: url(../icons.png) no-repeat 0 -600px !important;
  }

  .dark-editor .cke_button_icon.cke_button__outdent_icon {
    background: url(../icons.png) no-repeat 0 -456px !important;
  }

  .dark-editor .cke_button_icon.cke_button__indent_icon {
    background: url(../icons.png) no-repeat 0 -408px !important;
  }

  .dark-editor .cke_button_icon.cke_button__blockquote_icon {
    background: url(../icons.png) no-repeat 0 -168px !important;
  }

  .dark-editor .cke_combo_text {
    color: #fff;
  }

  .dark-editor .cke_combo_arrow {
    border-top-color: #fff;
  }

  .dark-editor .cke_button__about_icon {
    background: url(../icons.png) no-repeat 0 -0px !important;
  }

  .dark-editor .cke_bottom {
    background-color: #36393E;
    border-top: 0;
  }

  .dark-editor .cke_path_item {
    color: #fff;
  }