  .edit-buttons {
    position: fixed;
    right: 6%;
    z-index:1050;
    top: 2%;
  }

  .edit-input {
    padding: 50px 100px;
    width: 100%;
    height: 40em;
    border-width: 0px;
    box-shadow: 0px 2px 5px -2px #999;
    resize: none;
  }

  input:disabled {
    cursor: not-allowed;
  }

  .edit-input:disabled {
    background-color: #fff;
    cursor: not-allowed;
  }

  .edit-title {
    position: fixed;
    width: 400px;
    top: 0.5em;
    left: 35%;
    z-index: 1030;
  }

  .edit-title .form-control {
    font-size: 2em;
    text-align: center;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }

  .edit-title .form-control:disabled {
    background-color: #ffffff;
    border-bottom: 0px;
  }

  #error {
    opacity: 1;
    right: 30%;
  }

  #error div {
    background-color:red;    
  }