#search {
    position: fixed;
    width: 400px;
    top: 1.5em;
    left: 35%;
    z-index: 1030;
}

#search input {
    width: 100%;
    padding-left: 30px;
}

.search-icon {
    position: absolute;
    left: 0px;
    padding-left: 7px;
    padding-top: 10px;
}

.return {
    position: fixed;
    left: 2%;
    top: 100px;
}

.return p {
    padding-top: 5px;
    padding-left: 30px;
}

.return span {
    position: absolute;
    top: 0;
}

.entry-card {
    flex-direction: row;
    padding: 0;
}

.entry-card:hover {
    box-shadow: 0px 0px 0px 0px;
}

ul {
    list-style-type: none;
}

.options {
    position: absolute;
    top: 5px;
    float: left;
    width:8%;
    padding: 0.5em;
}

.options button {
    margin-left: 10px;
    padding: 0;
}

.options button:disabled {
    cursor: not-allowed;
}

.entry-details {
    margin-left:8%;
    width: 100%;
    height: 100px;
    padding: 1em;
}

.entry-title {
    display: flex;
}

#optionsNew {
    align-self: left ;
}

#testFun {
    color: black;
    background-color: white;
    text-align: left;
}

.toggle-buttons {
    float: right;
}

.toggle-buttons div {
    margin-left: 5px;
}

.hiddenT {
    display: table;
}

.hiddenToggle {
    display: table-cell;
}

.hiddenToggleText {
    display: table-cell;
    vertical-align: top;
    font-size: 18px;
    padding-left: 4px;
}

.deletedT {
    display: table;
}

.deletedToggle {
    display: table-cell;
}

.deletedToggleText {
    display: table-cell;
    vertical-align: top;
    font-size: 18px;
    padding-left: 4px;
}

#testFun:hover {
    background-color: rgb(92, 220, 255);
    color: #444444;
    border-color: rgb(92, 220, 255);
    -webkit-box-shadow: 6px 8px 6px -6px #999;
    -moz-box-shadow: 6px 8px 6px -6px #999;
    box-shadow: 3px 4px 3px -3px #999;
}

.subtitle {
    font-size: 1.2em;
    padding: 7px 0 0 7px;
}

.hidden {
    color: #999;
}

.deleted {
    color: red;
}

.backFont:hover {
    text-decoration: underline;
}

.filter {
    position:fixed;
    width: 450px;
    top: 72px;
    left: 30%;
    z-index:1050;
    background-color:white;
    padding:30px;
    -webkit-box-shadow: 6px 8px 6px -6px #999;
    -moz-box-shadow: 6px 8px 6px -6px #999;
    box-shadow: 6px 8px 6px -6px #999;
}

.filter-dates {
    display: flex;
}

.filter-dates p {
    margin-left: 5px;
    margin-right: 5px;
}

.filter label {
    margin-right: 20px;
}

.filter span {
    position: absolute;
    top: 0;
}

.empty {
    text-align: center;
    margin-top: 10%;
}