.Entry .lander {
    padding: 80px 0;
    text-align: center;
}
  
.Entry .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
  
.Entry .lander p {
    color: #999;
}

.header {
    display: table;
    width: 120%;
    padding-right: 40%;
}

.headerText {
    font-size: 30px;
    display: table-cell;
    width: 90%;
    vertical-align: middle;
}

.linkText {
    color: black;
}

.linkText:hover {
    color: #31B7FF
}

.entryCards {
    background-color: white;
    height: 100px;
    width: 80%;
    margin-bottom: 1.5em;
    margin-left: 7%;
    -webkit-box-shadow: 6px 8px 6px -6px #999;
    -moz-box-shadow: 6px 8px 6px -6px #999;
    box-shadow: 6px 8px 6px -6px #999;
    display: table;
}

.leftOptions {
    height: 100px;
    width: 8%;
    background-color: white;
    display: table-cell;
}

.entryDetails {
    padding-left: 30px;
    height: 100px;
    width: 67%;
    background-color: white;
    display: table-cell;
    vertical-align: bottom;
}

.entryTitle {
    height: 50px;
}

.entryDetails:hover {
    background-color: rgb(230, 230, 230);
    text-decoration-style: none;
    cursor: pointer;
}

.entryLink {
    text-decoration-style: none;
    height: 100px;
    color: black;
}

.entryLink:hover {
    text-decoration-style: none;
    color: #555555;
}

.optionsTable {
    margin-left: 40px;
    margin-top: 10px;
}

.deleteOption {
    height: 25px;
    color: #01BAFD;
    text-decoration: underline;
}

.hiddenOption {
    height: 25px;
    color: #01BAFD;
    text-decoration: underline;
}

.historyOption {
    height: 25px;
    color: #01BAFD;
    text-decoration: underline;
}

.deleteOption:hover {
    color: #0099FF;
    cursor: pointer;
}

.hiddenOption:hover {
    color: #0099FF;
    cursor: pointer;
}

.historyOption:hover {
    color: #0099FF;
    cursor: pointer;
}

#search {
    position: absolute;
    width: 100%;
    top: 1.5em;
    left: 30%;
    z-index: 1030;
    margin: 0 auto;
}

#search input {
    width: 35%;
    padding-left: 30px;
}

#search span {
    position: absolute;
    left: 0px;
    padding-left: 7px;
    padding-top: 6px;
}

.return {
    position: fixed;
    left: 2%;
    top: 100px;
}

.return p {
    padding-top: 5px;
    padding-left: 30px;
}

.return span {
    position: absolute;
    top: 0;
}