#search {
    position: fixed;
    width: 100%;
    top: 1.5em;
    left: 30%;
    z-index: 1030;
}

#search input {
    width: 35%;
    padding-left: 30px;
}

.search-icon {
    position: absolute;
    left: 0px;
    padding-left: 7px;
    padding-top: 10px;
}

.return {
    position: fixed;
    left: 2%;
    top: 100px;
}

.return p {
    padding-top: 5px;
    padding-left: 30px;
}

.return span {
    position: absolute;
    top: 0;
}

.entry-card {
    flex-direction: row;
    padding: 0;
}

.entry-card:hover {
    box-shadow: 0px 0px 0px 0px;
}

.options {
    float: left;
    width:5%;
    padding: 0.5em;
}

.options button {
    margin-left: 10px;
    padding: 0;
}

.entry-details {
    margin-left:5%;
    width: 95%;
    height: 100px;
    padding: 1em;
}

.entry-title {
    display: flex;
}

.subtitle {
    font-size: 1.2em;
    padding: 7px 0 0 7px;
}

.hidden {
    color: #999;
}

.deleted {
    color: red;
}

.filter {
    position:fixed;
    top: 72px;
    left: 30%;
    z-index:1050;
    background-color:white;
    padding:30px;
    width: 35%;
    -webkit-box-shadow: 6px 8px 6px -6px #999;
    -moz-box-shadow: 6px 8px 6px -6px #999;
    box-shadow: 6px 8px 6px -6px #999;
}

.filter-dates {
    display: flex;
}

.filter-dates p {
    margin-left: 5px;
    margin-right: 5px;
}

.filter label {
    margin-right: 20px;
}

.filter span {
    position: absolute;
    top: 0;
}

