#jListCards {
    background-color: rgb(41, 182, 246);
    box-shadow: 2px 4px 4px #888888;
    height: 70px;
    font-size: 30px;
    width: 85%;
    margin: auto;
    padding-top: 15px;
    padding-left: 3%;
}

#newJournalButton {
    position: fixed;
    position: absolute;
    right: 185px;
    top: 18px;
    z-index: 100000;
}

.journalCardsDiv {
    padding-top: 25px;
}

.journalCreateDate {
    padding-bottom: 10px;
    font-size: 22px;
}

.pageHeader {
    text-align: center;
}

.journalDetial {
    height: 70px;
    position: absolute;
    top: 20px;
}

.cardArrow {
    position: absolute;
    font-size: 55px;
    right: 7%;
    top: 5px;
}

.newJournalHeader {
    font-size: 30px;
    width: 100%;
    font-weight: 600;
}

.newJournalInput {
    font-size: 20px;
}

.inputArea {
    width: 100%;
    height: 50px;
}

.cards {
    margin-top: 2em;
    margin-bottom: 2em;
}

#testFun {
    color: black;
    background-color: white;
    text-align: left;
}

#testFun:hover {
    background-color: rgb(140, 230, 255);
    color: #5A5A5A;
    border-color: rgb(140, 230, 255);
    -webkit-box-shadow: 6px 8px 6px -6px #999;
    -moz-box-shadow: 6px 8px 6px -6px #999;
    box-shadow: 3px 4px 3px -3px #999;
}

.journal-card:hover {
    background-color: rgb(140, 230, 255);
}

.journal-card {
    left: 5%;
    width: 90%;
    height: 100px;
    margin-bottom: 1.5em;
    padding: 2em;
    -webkit-box-shadow: 6px 8px 6px -6px #999;
    -moz-box-shadow: 6px 8px 6px -6px #999;
    box-shadow: 6px 8px 6px -6px #999;
}

.journal-title {
    margin-left: 1em;
    font-size: 2em;
    font-weight: 600;
    display: table-cell;
}

.card-link {
    text-decoration-style: none;
    color: #000000;
}

.card-link:hover {
    color: #555555;
}

/* .card-journal-card {
    text-decoration-style: none;
    color: #000000;
}

.card-journal-card:hover {
    color: #555555;
} */

.modal-header {
    background-color: #e5e5e5;
}