.header {
    text-align: center;
    font-weight: 700;
}

#jListCards {
    background-color: rgb(41, 182, 246);
    box-shadow: 2px 4px 4px #888888;
    height: 70px;
    font-size: 30px;
    width: 85%;
    margin: auto;
    padding-top: 15px;
    padding-left: 3%;
}

.cards {
    margin-top: 2em;
    margin-bottom: 2em;
}

.card {
    height: 100px;
    margin-bottom: 1.5em;
    padding: 2em;
    -webkit-box-shadow: 6px 8px 6px -6px #999;
    -moz-box-shadow: 6px 8px 6px -6px #999;
    box-shadow: 6px 8px 6px -6px #999;
}

.card-title {
    margin-left: 1em;
    font-size: 2em;
    font-weight: 600;
}

.card-link {
    text-decoration-style: none;
    color: #000000;
}

.card-link:hover {
    color: #555555;
}

.modal-header {
    background-color: #e5e5e5;
}