.login-card {
  padding: 60px 0;
  max-width: 500px;
  -webkit-box-shadow: 6px 8px 6px -6px #999;
  -moz-box-shadow: 6px 8px 6px -6px #999;
  box-shadow: 6px 8px 6px -6px #999;
  margin-left: auto;
  margin-right: auto;
}

.card form {
  margin: 0 auto;
  max-width: 320px;
}

.login-form-title {
  text-align: center;
  font-weight: 600;
  font-size: 3em;
}

.login-card button {
  margin-bottom: 10px;
}

.error {
  color: red;
  margin-bottom: 0;
}

.forgot.btn {
  padding: 0;
}